#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.stripe-pattern {
  position: relative;
  border: 1px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes */
    transparent 0, /* Start of the transparent stripe */
    transparent 10px, /* End of the transparent stripe */
    rgba(128, 128, 128, 1) 10px, /* Start of the semi-transparent stripe */
    rgba(64, 64, 64, 1) 20px /* End of the semi-transparent stripe */
  );
  overflow: hidden;
}

.stripe-pattern::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, yellow, black);
  pointer-events: none;
  z-index: -2;
}

.use-mionta {
  font-family: Mionta;
  position: relative;
  z-index: 100;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}