#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
}


.text-with-stroke {
  -webkit-text-stroke: 2px yellow;
  color: black;
}

.reminder-content {
  overflow: hidden;
  transition: max-height 1s ease;
}

.reminder-content.collapsed {
  max-height: 0;
}

.reminder-content.expanded {
  max-height: 500px;
}

.stripe-pattern {
  position: relative;
  border: 1px solid black;
  background: repeating-linear-gradient(
    45deg, /* Angle of the stripes */
    transparent 0, /* Start of the transparent stripe */
    transparent 10px, /* End of the transparent stripe */
    rgba(128, 128, 128, 1) 10px, /* Start of the semi-transparent stripe */
    rgba(64, 64, 64, 1) 20px /* End of the semi-transparent stripe */
  );
  overflow: hidden;
}

.stripe-pattern::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, yellow, black);
  pointer-events: none;
  z-index: -2;
}

.use-mionta {
  font-family: Mionta;
  position: relative;
  z-index: 100;
}
